/* ? Basic Structure */
* {
  font-family: roboto;
  margin: 0;
  padding: 0;
}

header {
  font-family: "Cookie", cursive;
  font-size: 70px;
  text-align: center;
  background-image: url(/img/trianglify-lowres.png);
  color: aliceblue;
  -webkit-box-shadow: 0px 13px 10px 0px rgba(144, 144, 144, 0.55);
  box-shadow: 0px 13px 10px 0px rgba(144, 144, 144, 0.55);
}

.png section {
  width: 70%;
  margin: 0 auto;
}

/* ? Float Message */
.message {
  width: 30%;
  border: 2px solid #022;
  border-radius: 10px;
  margin: 0 auto;
  margin-top: 30px;
  padding: 5px;
  /* padding-bottom: 50px; */
  /* box-sizing: content-box; */
}

.insidemessage {
  display: inline-block;
  margin-left: 10%;
}
.messagetxt {
  font-size: 14px;
  position: relative;
  bottom: 20px;
}
.smallicon {
  width: 50px;
  display: inline-block;
  /* box-sizing: border-box; */
}

/* ? Handy structure */
.handyout {
  width: 30%;
  height: 60%;
  border: 3px solid #022;
  border-radius: 20px;
  background-color: #022;
  margin: 40px auto;
  box-sizing: content-box;
}

.handyin {
  width: 92%;
  height: 70%;
  border: 3px solid #022;
  border-radius: 20px;
  background-color: #fff;
  margin: 40px auto;
  box-sizing: border-box;
}

/* ? Display structure */
.top_handy > div {
  display: inline-block;
}
.wifi_bat {
  float: right;
  position: relative;
  right: 40px;
}
.middle_handy {
  padding: 20px;
  padding-left: 30px;
}
.bottom_handy {
  padding: 20px;
  padding-left: 30px;
}

/* ?Top contents in Handy */

.threeg {
  font-size: 13px;
  font-weight: bold;
  margin-left: 15px;
}
.wifi {
  width: 13px;
}

.battery {
  font-size: 14px;
}
.batteryicon {
  width: 20px;
  position: absolute;
  margin-left: 5px;
}

/* ? middle and bottom contents in Handy */
.bl_icon {
  display: inline-block;
  width: 70px;
  height: 70px;
  background-color: gray;
  border-radius: 10px;
  margin: 0 auto;
}

/* ! Instagram icon with push badge */
.withbadge {
  position: relative;
  display: inline-block;
}
.iconinside {
  width: 70px;
  /* box-sizing: border-box; */
}
.badge {
  position: absolute;
  top: 0;
  left: 50px;
  width: 20px;
  height: 20px;
  background-color: #f70000;
  border-radius: 50%;
  text-align: center;
  font-family: Roboto;
  color: #fff;
  font-weight: bold;
  display: inline-block;
}

/* ? Hover effect */
.handyout:hover {
  background-image: url(/img/trianglify-lowres.png);
  -webkit-box-shadow: 19px 8px 16px 6px rgba(144, 144, 144, 0.84);
  box-shadow: 19px 8px 16px 6px rgba(144, 144, 144, 0.84);
}

.message:hover {
  -webkit-box-shadow: 0px 2px 16px 6px rgba(144, 144, 144, 0.84);
  box-shadow: 0px 2px 16px 6px rgba(144, 144, 144, 0.84);
}

.bl_icon:hover {
  background-image: url(/img/trianglify-lowres.png);
}

#zebra:hover {
  background-image: url(/img/zebra.jpg);
  background-size: contain;
}
#love:hover {
  background-image: url(/img/love.jpeg);
  background-size: cover;
  background-position: center;
}
#pikachu:hover {
  background-image: url(/img/pikachu.png);
  background-size: cover;
  background-position: center;
}
#goldfish:hover {
  background-image: url(/img/goldfish.jpg);
  background-size: contain;
}

/* ? A tag effect */
a {
  color: #022;
}

/* ?Just a Practice */
/* ! Both boxes are relative  */
.practice-1 {
  position: relative;
  display: inline-block;
}

.practice-2 {
  width: 400px;
}

.practice-3 {
  position: relative;
  display: inline-block;
  top: -338px;
  right: 120px;
  width: 100px;
  height: 100px;
  background-color: red;
  border-radius: 50%;
  font-size: 80px;
  color: #fff;
  text-align: center;
}

/* ! Parent is relative and Child is absolute. (Absolute is depending on screen) */
.practice-4 {
  position: relative;
  display: inline-block;
}

.practice-5 {
  width: 400px;
}

.practice-6 {
  position: absolute;
  display: inline-block;
  top: 1460px;
  right: 1460px;
  width: 100px;
  height: 100px;
  background-color: red;
  border-radius: 50%;
  font-size: 80px;
  color: #fff;
  text-align: center;
}

/* ! Both boxes are absolute.  */
.practice-7 {
  position: absolute;
  display: inline-block;
}

.practice-8 {
  width: 400px;
}

.practice-9 {
  position: absolute;
  display: inline-block;
  top: 1960px;
  right: 1460px;
  width: 100px;
  height: 100px;
  background-color: red;
  border-radius: 50%;
  font-size: 80px;
  color: #fff;
  text-align: center;
}

h1 {
  margin-bottom: 50px;
  width: 600px;
  text-align: left;
}

section.practice {
  width: 100%;
  display: inline-block;
}
